.mainDiv{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
  padding: 20px;
  margin-top: 50px;
  width: 1200px;
  margin: 0 auto;
  
  gap:32px;
    }
.right{
    width: 40%;
    padding: 10px;
    position: relative;
    
}
.left{
    width: auto;
    padding: 10px;
}
.left span{
text-align: center;
color: var(--Pure-White, #FFF);
font-family: Inter;
font-size: 54px;
font-style: normal;
font-weight: 600;
line-height: 161.523%;
}
.right span{
color: var(--Pure-White, #FFF);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 162.523%;
opacity: 0.3;
text-align: center;
}

  
  .right::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -8px; /* Adjust as needed */
    width: 1px; /* Adjust as needed */
    background-color: #fff; /* Set your desired color */
    opacity: 0.3;
  }
 
  h3{
 color: var(--Pure-White, #FFF);

font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 162.523%;
margin:10px 0px
  }